In [1]:
import pandas as pd
import numpy as np
data2017 = pd.read_csv ("PERM2017CLEAN.csv", encoding = 'unicode_escape', engine ='python')
temp = np.ones([data2017.shape[0],1])*2017
tmp = pd.DataFrame(temp);
tmp=tmp.astype('int')
tmp.rename(columns = {0: 'year'}, inplace = True)
data2017 = pd.concat([tmp, data2017], axis=1)

data_total = data2017

In [2]:
filename = ["PERM2018CLEAN.csv","PERM2019CLEAN.csv","PERM2020CLEAN.csv","PERM2021CLEAN.csv","PERM2022CLEAN.csv"]
lst = [2018,2019,2020,2021,2022]
for i in range (5):
    data = pd.read_csv (filename[i], encoding = 'unicode_escape', engine ='python')
    temp = np.ones([data.shape[0],1])*lst[i]
    tmp = pd.DataFrame(temp);
    tmp=tmp.astype('int')
    tmp.rename(columns = {0: 'year'}, inplace = True)
    data = pd.concat([tmp, data], axis = 1)
    data_total = pd.concat([data_total, data])

In [3]:
data_total['WAGE']=data_total['WAGE'].astype('int')

data_total

,year,Unnamed: 0,EMPLOYER_NAME,CASE_STATUS,CASE_STATUS_NUMBER,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION
0,2017,0,XAVIENT INFORMATION SYSTEMS,Withdrawn,0,California,225.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Utah,119683,Bachelor
1,2017,1,MARVELL SEMICONDUCTOR INC,Withdrawn,0,California,2000.0,Manufacturing,"Electronics Engineers, Except Computer",California,89200,Master
2,2017,3,CORPORATE COMPUTER SERVICES INC,Withdrawn,0,Michigan,148.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Ohio,85910,Master
3,2017,4,"SEVEN SEAS TECHNOLOGIES, INC.",Withdrawn,0,Missouri,125.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Iowa,75000,Bachelor
4,2017,5,MARVELL SEMICONDUCTOR INC,Withdrawn,0,California,2000.0,Manufacturing,"Software Developers, Systems Software",California,115700,Master
...,...,...,...,...,...,...,...,...,...,...,...,...
84447,2022,104594,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
84448,2022,104595,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
84449,2022,104596,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
84450,2022,104597,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
84451,2022,104598,Veriha Trucking Inc.,Denied,-1,Wisconsin,293.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Wisconsin,48526,None

In [4]:
df = data_total
tmp = df['CASE_STATUS']
tmp = pd.DataFrame(tmp);

temp2 = np.ones([tmp.shape[0],])
temp2 = pd.DataFrame({'CASE_STATUS_TOTAL': temp2})

data_total = pd.get_dummies(data_total, columns=['CASE_STATUS'])

df2 = pd.concat([data_total, tmp],axis = 1)
df2

,year,Unnamed: 0,EMPLOYER_NAME,CASE_STATUS_NUMBER,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION,CASE_STATUS_Certified,CASE_STATUS_Denied,CASE_STATUS_Withdrawn,CASE_STATUS
0,2017,0,XAVIENT INFORMATION SYSTEMS,0,California,225.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Utah,119683,Bachelor,0,0,1,Withdrawn
1,2017,1,MARVELL SEMICONDUCTOR INC,0,California,2000.0,Manufacturing,"Electronics Engineers, Except Computer",California,89200,Master,0,0,1,Withdrawn
2,2017,3,CORPORATE COMPUTER SERVICES INC,0,Michigan,148.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Ohio,85910,Master,0,0,1,Withdrawn
3,2017,4,"SEVEN SEAS TECHNOLOGIES, INC.",0,Missouri,125.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Iowa,75000,Bachelor,0,0,1,Withdrawn
4,2017,5,MARVELL SEMICONDUCTOR INC,0,California,2000.0,Manufacturing,"Software Developers, Systems Software",California,115700,Master,0,0,1,Withdrawn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84447,2022,104594,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied
84448,2022,104595,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied
84449,2022,104596,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied
84450,2022,104597,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied
84451,2022,104598,Veriha Trucking Inc.,-1,Wisconsin,293.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Wisconsin,48526,None,0,1,0,Denied

In [5]:
df2 = pd.concat([df2.reset_index(),temp2.reset_index()],axis = 1)
df2 = df2.drop('index', axis = 1)

In [6]:
df2

,year,Unnamed: 0,EMPLOYER_NAME,CASE_STATUS_NUMBER,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION,CASE_STATUS_Certified,CASE_STATUS_Denied,CASE_STATUS_Withdrawn,CASE_STATUS,CASE_STATUS_TOTAL
0,2017,0,XAVIENT INFORMATION SYSTEMS,0,California,225.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Utah,119683,Bachelor,0,0,1,Withdrawn,1.0
1,2017,1,MARVELL SEMICONDUCTOR INC,0,California,2000.0,Manufacturing,"Electronics Engineers, Except Computer",California,89200,Master,0,0,1,Withdrawn,1.0
2,2017,3,CORPORATE COMPUTER SERVICES INC,0,Michigan,148.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Ohio,85910,Master,0,0,1,Withdrawn,1.0
3,2017,4,"SEVEN SEAS TECHNOLOGIES, INC.",0,Missouri,125.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Iowa,75000,Bachelor,0,0,1,Withdrawn,1.0
4,2017,5,MARVELL SEMICONDUCTOR INC,0,California,2000.0,Manufacturing,"Software Developers, Systems Software",California,115700,Master,0,0,1,Withdrawn,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522551,2022,104594,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied,1.0
522552,2022,104595,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied,1.0
522553,2022,104596,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied,1.0
522554,2022,104597,"Groendyke Transport, Inc.",-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None,0,1,0,Denied,1.0
522555,2022,104598,Veriha Trucking Inc.,-1,Wisconsin,293.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Wisconsin,48526,None,0,1,0,Denied,1.0

In [7]:
neworder =['year','EMPLOYER_NAME','CASE_STATUS','CASE_STATUS_TOTAL','CASE_STATUS_Certified','CASE_STATUS_Denied','CASE_STATUS_Withdrawn','EMPLOYER_STATE','EMPLOYER_NUM_EMPLOYEES','NAICS','OCCUPATION','EMP_STATE','WAGE','EDUCATION']
df2=df2.reindex(columns=neworder)
df2

,year,EMPLOYER_NAME,CASE_STATUS,CASE_STATUS_TOTAL,CASE_STATUS_Certified,CASE_STATUS_Denied,CASE_STATUS_Withdrawn,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION
0,2017,XAVIENT INFORMATION SYSTEMS,Withdrawn,1.0,0,0,1,California,225.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Utah,119683,Bachelor
1,2017,MARVELL SEMICONDUCTOR INC,Withdrawn,1.0,0,0,1,California,2000.0,Manufacturing,"Electronics Engineers, Except Computer",California,89200,Master
2,2017,CORPORATE COMPUTER SERVICES INC,Withdrawn,1.0,0,0,1,Michigan,148.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Ohio,85910,Master
3,2017,"SEVEN SEAS TECHNOLOGIES, INC.",Withdrawn,1.0,0,0,1,Missouri,125.0,"Professional, Scientific, and Technical Services","Software Developers, Applications",Iowa,75000,Bachelor
4,2017,MARVELL SEMICONDUCTOR INC,Withdrawn,1.0,0,0,1,California,2000.0,Manufacturing,"Software Developers, Systems Software",California,115700,Master
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522551,2022,"Groendyke Transport, Inc.",Denied,1.0,0,1,0,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
522552,2022,"Groendyke Transport, Inc.",Denied,1.0,0,1,0,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
522553,2022,"Groendyke Transport, Inc.",Denied,1.0,0,1,0,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
522554,2022,"Groendyke Transport, Inc.",Denied,1.0,0,1,0,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528,None
522555,2022,Veriha Trucking Inc.,Denied,1.0,0,1,0,Wisconsin,293.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Wisconsin,48526,None

In [8]:
keywords = ['Netflix']
def ChangeEmployerName (x):
    for keyword in keywords:
        if keyword.lower() in x.lower():
            return keyword
    return x

df2['EMPLOYER_NAME'] = df2['EMPLOYER_NAME'].apply(lambda x : ChangeEmployerName(x))

In [9]:
df2.to_csv('TotalPerm2017To2022.csv',index=False)